@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
                  to bottom,
                  transparent,
                  rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}
$new-white: rgb(248, 246, 234);
$text-margin: 10px;

.card-container {

  &.flipped {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      transform: rotateY(0deg);
    }
  }
  .front,
  .back {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: block;
    background: $new-white;
    box-shadow: 10px 10px 5px rgb(95, 77, 99);
    padding: 10px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
    /* front tile styles go here! */
  }
  .back {
    background: $new-white;
    transform: rotateY(-180deg);
    padding: 20px;
    font-size: 20px;
    /* back tile styles go here! */
  }
}



#outer,
#back {
  position: fixed;
  pointer-events: none;
}

